# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
/.venv

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller
*.spec

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Electron build
release/

# local environment files
.env
.venv
